## Operation, Operator

In [1]:
7+2

9

In [2]:
7-2

5

In [3]:
7*5

35

In [6]:
7/2

3.5

In [7]:
7 2 + # <피연산자> <연산자> <피연산자>의 순서가 지켜져야 합니다

SyntaxError: invalid syntax (<ipython-input-7-8fc6867fc050>, line 1)

In [8]:
7 // 3

2

In [9]:
7 % 3

1

In [10]:
7 ** 3

343

In [11]:
7 > 3

True

In [12]:
7 < 3

False

In [13]:
True

True

In [14]:
2 >= 2

True

In [15]:
2 <= 2

True

In [16]:
2 => 2 # 비교연산중 이상,이하 표현은 =이 뒤에 나와야 합니다

SyntaxError: invalid syntax (<ipython-input-16-fe17e6b57c4d>, line 1)

In [17]:
'fast' == 'campus'

False

In [18]:
2 == 2

True

In [19]:
2 != 3

True

In [20]:
'fast' != 'campus'

True

In [21]:
True == True

True

In [22]:
False == False

True

In [23]:
a = 1

In [24]:
a

1

In [25]:
a = 'fast'

In [26]:
a

'fast'

In [30]:
fast = 1
campus = 2.71828

In [31]:
fast + campus

3.71828

In [32]:
fast * campus

2.71828

In [34]:
1 + 2.71828

3.71828

In [42]:
## r = 10 pi = 3.1415 
## 원의 지름, 둘레, 넓이, 구의 겉넓이, 구의 부피
## r을 이용해서 연산
r = 10
pi = 3.1415
print(r * 2)
print(round(2 * pi * r, 3))
print(round(pi * r ** 2, 3))
print(round(4 * pi * r ** 2,3))
print(4 / 3 * pi * r ** 3)

20
62.83
314.15
1256.6
4188.666666666666

In [43]:
type(3)

int

In [44]:
type(3.14)

float

In [45]:
type("안녕하세요")

str

In [46]:
int(3.14)

3

In [47]:
type("1")

str

In [51]:
int("1") + 3

4

In [49]:
1+1

2

In [50]:
"안녕"+"하세요"

'안녕하세요'

In [52]:
int("안녕") # 숫자형으로 바꿀 수 없는 글자는 type casting이 불가능합니다

ValueError: invalid literal for int() with base 10: '안녕'

In [55]:
int(float("3.14"))

3

In [59]:
user_name = input("이름을 입력해 주세요> ")

이름을 입력해 주세요> 김패캠

In [60]:
user_name

'김패캠'

In [64]:
r = int(input("반지름을 입력하세요"))
print(type(r))
pi = 3.1415
print(r * 2)
print(round(2 * pi * r, 3))
print(round(pi * r ** 2, 3))
print(round(4 * pi * r ** 2,3))
print(4 / 3 * pi * r ** 3)

반지름을 입력하세요10
<class 'int'>
20
62.83
314.15
1256.6
4188.666666666666

In [65]:
some_string = "Python is very awesome, clear and easy to learn and understand."

In [68]:
some_string.count('Python')

1

In [71]:
some_string.find('clear')

24

In [74]:
",".join("python").split(',')

['p', 'y', 't', 'h', 'o', 'n']

In [75]:
some_string.split()

['Python',
 'is',
 'very',
 'awesome,',
 'clear',
 'and',
 'easy',
 'to',
 'learn',
 'and',
 'understand.']

In [76]:
some_string.replace("Python", "Java")

'Java is very awesome, clear and easy to learn and understand.'

In [77]:
some_string

'Python is very awesome, clear and easy to learn and understand.'

In [78]:
result = "   ...,,,fastcampus\n\n\n...,,,  !!!???"

In [86]:
result.strip(" .,!?\n")

'fastcampus'

In [ ]:
"I have an apple, I have a pen."
"I hava a pen, I have a pineapple."

In [95]:
print("I have {:*<20}, I have {}.".format('a pen', 'an apple'))
print("I have {1:-^20}, I have {0}.".format('a pen', 'a pineapple'))
print("I have {:+>20}, I have {}.".format('a pen', 'a banana'))

I have a pen***************, I have an apple.
I have ----a pineapple-----, I have a pen.
I have +++++++++++++++a pen, I have a banana.

In [97]:
fruit = input("What is your favorite fruit? ")
print("I have {}, I have {}.".format('a pen', fruit))

What is your favorite fruit? kiwi
I have a pen, I have kiwi.

## List

In [98]:
animals = ['hamster', 'cat', 'dog', 'alligator', 'crocadile']

In [101]:
animals[2]

'dog'

In [102]:
animals.append('owl')

In [103]:
animals

['hamster', 'cat', 'dog', 'alligator', 'crocadile', 'owl']

In [104]:
animals.append('wolf')
animals.append('fox')
animals

['hamster', 'cat', 'dog', 'alligator', 'crocadile', 'owl', 'wolf', 'fox']

In [105]:
animals.insert(2,'lion')
animals

['hamster',
 'cat',
 'lion',
 'dog',
 'alligator',
 'crocadile',
 'owl',
 'wolf',
 'fox']

In [106]:
animals.remove("owl")
animals

['hamster', 'cat', 'lion', 'dog', 'alligator', 'crocadile', 'wolf', 'fox']

In [110]:
cage = animals.pop()
cage

'fox'

In [111]:
animals

['hamster', 'cat', 'lion', 'dog', 'alligator']

In [112]:
animals.sort()

In [113]:
animals

['alligator', 'cat', 'dog', 'hamster', 'lion']

In [114]:
animals.reverse()

In [115]:
animals

['lion', 'hamster', 'dog', 'cat', 'alligator']

In [116]:
animals = ['hamster', 'cat', 'lion', 'dog', 'alligator']

In [117]:
animals.sort(reverse=True)

In [118]:
animals

['lion', 'hamster', 'dog', 'cat', 'alligator']

In [119]:
animals[1]

'hamster'

In [121]:
animals[1:3+1]

['hamster', 'dog', 'cat']

In [124]:
animals[::2]

['lion', 'dog', 'alligator']

In [125]:
# tuple(리스트와 동작은 같지만, 선언한 이후 자료 추가 불가능)
animals = ('cat','dog')

In [126]:
animals[1]

'dog'

In [127]:
animals.append('alligator') # 증명

AttributeError: 'tuple' object has no attribute 'append'

## Conditional Statements

In [128]:
cash = 10000
if cash > 9000:
    print("Get Chicken!")

Get Chicken!

In [130]:
cash = 1000
if cash > 9000:
    print("Get Chicken!")
else:
    print("굶는다")

굶는다

In [132]:
cash = 6000
if cash > 9000:
    print("Get Chicken!")
else:
    if cash > 5000:
        print("Get Gimcheon!")
    else:
        print("굶는다")

Get Gimcheon!

In [134]:
cash = 1000
if cash > 9000:
    print("Get Chicken!")
elif cash > 5000: # 다중조건문의 표현
    print("Get Gimcheon!")
elif cash > 800:
    print("Get Samgim!")
else:
    print("굶는다")

Get Samgim!

In [138]:
# user_num = input()
# magic_num = ?
# user_num 가 magic_num과 일치한다면, "축하합니다"
# 보다 크다면, "낮춰보세요"
# 보다 작다면, "높여보세요"
user_num = int(input("숫자 하나만 주세요"))
magic_num = 42

if user_num==magic_num:
    print("Congrats!")
elif user_num > magic_num:
    print("낮춰보세요")
elif user_num < magic_num:
    print("높여보세요")

숫자 하나만 주세요42
Congrats!

In [178]:
# Numguess
from random import randint


magic_num = randint(1,100)
print(magic_num)
user_num = int(input("숫자 하나만 주세요"))

if user_num==magic_num:
    print("Congrats!")
elif user_num > magic_num:
    print("낮춰보세요")
elif user_num < magic_num:
    print("높여보세요")
# TODO: 기회를 좀 주자, 한번실행시 돌아가도록

25
숫자 하나만 주세요25
Congrats!

## Iteration, Loop

In [180]:
for i in range(1,10+1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [182]:
list(range(1,10+1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [183]:
for _ in range(1,10+1):
    print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [184]:
for c in "Python":
    print(c)

P
y
t
h
o
n

In [ ]:
#while True: # 무한루프
#    print("hello")

In [186]:
again = True
while again:
    ###
    # ..
    ###
    letter = input("try again?(y/n) ")
    if letter=='n':
        again = False

try again?(y/n) y
try again?(y/n) y
try again?(y/n) y
try again?(y/n) y
try again?(y/n) n

In [196]:
# Fizzbuzz
# 1~100 정수 i 에 대하여
# i -> 3의 배수: 'fizz'
# i -> 5의 배수: 'buzz'
# i -> 15의 배수: 'fizzbuzz'
# 나머지: i를 출력
# 조건문, 반복문

# for i in range(1,100+1): Step1
#     print(i, end='\t')

# for i in range(1,100+1): Step2
#     if i%3==0:
#         print("fizz", end='\t')
#     else:
#         print(i, end='\t')

# for i in range(1,100+1): Step3
#     if i%3==0:
#         print("fizz", end='\t')
#     elif i%5==0:
#         print("buzz", end='\t')
#     else:
#         print(i, end='\t')

# Final
for i in range(1,100+1):
    if i%3==0 and i%5==0:
        print("fizzbuzz", end='\t')
    elif i%3==0:
        print("fizz", end='\t')
    elif i%5==0:
        print("buzz", end='\t')
    else:
        print(i, end='\t')

1	2	fizz	4	buzz	fizz	7	8	fizz	buzz	11	fizz	13	14	fizzbuzz	16	17	fizz	19	buzz	fizz	22	23	fizz	buzz	26	fizz	28	29	fizzbuzz	31	32	fizz	34	buzz	fizz	37	38	fizz	buzz	41	fizz	43	44	fizzbuzz	46	47	fizz	49	buzz	fizz	52	53	fizz	buzz	56	fizz	58	59	fizzbuzz	61	62	fizz	64	buzz	fizz	67	68	fizz	buzz	71	fizz	73	74	fizzbuzz	76	77	fizz	79	buzz	fizz	82	83	fizz	buzz	86	fizz	88	89	fizzbuzz	91	92	fizz	94	buzz	fizz	97	98	fizz	buzz

In [189]:
print("a","b",sep='') # 여러 자료를 띄어쓰기 없이 출력

ab

In [199]:
# Numguess
# TODO: 기회를 좀 주자, 한번실행시 돌아가도록
from random import randint


magic_num = randint(1,100)
print(magic_num) # 정답확인용

life = 5
while life>0:
    user_num = int(input("숫자 하나만 주세요"))

    if user_num==magic_num:
        print("Congrats!")
        break
    elif user_num > magic_num:
        print("낮춰보세요")
    elif user_num < magic_num:
        print("높여보세요")
    life -= 1

73
숫자 하나만 주세요73
Congrats!

In [ ]:
# Let's try!
# Leapyear(윤년)
# 4년에 한번 2월이 29일로 끝나는해
# 4의 배수: 윤년
# 100의 배수: 평년
# 400의 배수: 윤년