## Python 기본 문법

### 연산과 연산자

In [1]:
print("hello, python!")

hello, python!

In [2]:
5 + 3

8

In [3]:
# SyntaxError: 문법상의 에러(주로 연산자의 위치와 관련)
+ 5 3

SyntaxError: invalid syntax (<ipython-input-3-4f5936156203>, line 1)

In [4]:
# NameError: 정의되지 않은 이름을 호출할 경우
name

NameError: name 'name' is not defined

In [5]:
4-2

2

In [6]:
3.14*4

12.56

In [13]:
# floating-point: 부동소수점은 컴퓨터의 수 체계를 극복하기 위한 대안 중 하나
# side-effect 발생하므로 반올림 또는 버림으로써 값을 제거
7/3

2.3333333333333335

In [16]:
# 수학의 연산자 우선순위와 일치하므로 연산의 순서를 생각하여 작성해야 합니다.
# 우선연산을 원한다면 () 를 사용합니다.
(3+5)*4

32

In [17]:
25/5

5.0

In [18]:
25/4

6.25

In [19]:
25 // 4 # 몫 구하기

6

In [20]:
25 % 4 # 나머지 구하기

1

In [21]:
float(4) # 자료의 형 변환

4.0

In [22]:
2*2

4

In [23]:
2 ** 4 # 거듭제곱 연산: 연산자ver.

16

In [24]:
pow(2,4) # 거듭제곱 연산: 함수ver.

16

In [25]:
# 비교연산자: 연산자의 양 값을 확인하여 그 결과물을 True 또는 False로 반환
# 그렇게 나온 True, False: bool 자료형
3 > 2

True

In [26]:
3 < 2

False

In [31]:
type(True)

bool

In [34]:
34!=100

True

In [54]:
# 비교연산자 사용시 >=를 =>로 사용할 경우,
# =이 앞서게 되어 SyntaxError가 일어납니다.
3 => 2

SyntaxError: invalid syntax (<ipython-input-54-4bf02e154b11>, line 3)

### 변수와 변수를 이용한 연산

In [50]:
hello = "greeting"

In [51]:
hello

'greeting'

In [56]:
# variable: 여러 값을 가질 수 있는 공간
# python의 변수는 여러 형태의 값을 가질 수 있습니다.
fast = 10
campus = 3.14
round(2 * fast * campus, 3)

62.8

In [57]:
"안녕"+"하세요"

'안녕하세요'

In [59]:
an = "안녕"
ha = "하세요"
an+ha+an+ha+an+an+an

'안녕하세요안녕하세요안녕안녕안녕'

In [60]:
# 자료형을 확인
type("1")

str

In [61]:
str_one = "1"
int(str_one)

1

In [62]:
"1" + 12

TypeError: can only concatenate str (not "int") to str

In [63]:
"1" + str(12)

'112'

In [64]:
int("안녕")

ValueError: invalid literal for int() with base 10: '안녕'

In [66]:
int(2.718)

2

## User input, output

In [67]:
# 사용자의 입력을 받아서 무언가 일을 하고 싶을때
input("Enter your name> ") # -> 확인만 해본거...

Enter your name> fastcampus

'fastcampus'

In [68]:
user_name = input("Enter your name> ") # 결과값을 할당해줘야 사용할 수 있습니다.

Enter your name> fastcampus

In [69]:
user_name

'fastcampus'

In [70]:
user_number = input("Enter radius> ")
print(user_number * 3.14)

Enter radius> 5

TypeError: can't multiply sequence by non-int of type 'float'

In [71]:
"안녕" * 5

'안녕안녕안녕안녕안녕'

In [73]:
user_number = int(input("Enter radius> "))
print(round(user_number * 3.14, 2))

Enter radius> 5
15.7

In [75]:
# error handling
try:
    user_num = int(input())
except ValueError as e:
    print("Only number!!!!!!!!!!!!")

drop table users;
Only number!!!!!!!!!!!!

In [79]:
# eval은 괄호 안에 있는 값의 형태에 맞춰 자료형을 부여합니다.
user_input = eval(input("Hello> "))
type(user_input)

Hello> 안녕하세요

NameError: name '안녕하세요' is not defined

In [90]:
# Mini project 사용자 입력을 활용한 수식 출력 구현하기
# 사용자로부터 정수 하나를 입력 받아 radius에 할당
# 원주율 pi = 3.14
# 원의 둘레를 출력
# 원의 넓이를 출력
# 구의 겉넓이를 출력
# 구의 부피를 출력

pi = 3.14
radius = int(input("Enter some integer!!!!!!> "))
# print(radius, type(radius)) # 값과 자료형 체크를 위한 출력(complete)
perimeter = 2 * radius * pi
nulbi = pi * radius ** 2
gnb = 4 * pi * radius ** 2
volume = round(4 / 3 * pi * radius ** 3, 2)
print(perimeter, nulbi, gnb, volume)

Enter some integer!!!!!!> 4
25.12 50.24 200.96 267.95

### String(문자열)

In [91]:
some_string = "Python is very useful and awesome language ever learned."

In [92]:
some_string.count("e")

9

In [94]:
some_string.count("python")

0

In [95]:
some_string.find("very")

10

In [100]:
some_string.split("is")

['Python ', ' very useful and awesome language ever learned.']

In [98]:
",".join("Python").split(",")

['P', 'y', 't', 'h', 'o', 'n']

In [101]:
some_string.replace("Python", "Golang")

'Golang is very useful and awesome language ever learned.'

In [103]:
some_string.replace("awesome", "aweful").replace("useful", "useless")

'Python is very useless and aweful language ever learned.'

In [105]:
scraped_string = "   python is awesome.   "
scraped_string.strip()

'python is awesome.'

In [107]:
scraped_string = "   ,,,..#.,.,.,python is awesome.!,.,.,.$   "
scraped_string.strip(" ,.$!")

'#.,.,.,python is awesome'

In [108]:
# String formating

pi = 3.14
radius = int(input("Enter some integer!!!!!!> "))
# print(radius, type(radius)) # 값과 자료형 체크를 위한 출력(complete)
perimeter = 2 * radius * pi
nulbi = pi * radius ** 2
gnb = 4 * pi * radius ** 2
volume = round(4 / 3 * pi * radius ** 3, 2)
# print(perimeter, nulbi, gnb, volume)
print("너님이 입력하신 반지름 {} 에 대한 \
원의 둘레는 {}, 넓이는 {}, \
구의 겉넓이는 {}, 부피는 {} 입니다.".format(radius, perimeter, nulbi, gnb, volume))

Enter some integer!!!!!!> 4
너님이 입력하신 반지름 4 에 대한 원의 둘레는 25.12, 넓이는 50.24, 구의 겉넓이는 200.96, 부피는 267.95 입니다.

In [120]:
print("I have a {1:>10}, I have an {0:*^10}.".format("apple", "penapple")) # String formatting
print("I have a {1:>10}, I have an {0:_^10}.".format("pineapple", "pen"))

I have a   penapple, I have an **apple***.
I have a        pen, I have an pineapple_.

In [122]:
ever_land = ["dog", "cat"]
ever_land.append("coala")
ever_land

['dog', 'cat', 'coala']

In [126]:
ever_land.append("coala")
ever_land.append("coala")
ever_land.append("coala")
ever_land

['dog',
 'cat',
 'coala',
 'coala',
 'coala',
 'coala',
 'coala',
 'coala',
 'coala',
 'coala',
 'coala',
 'coala',
 'coala',
 'coala',
 'coala']

In [134]:
ever_land = list(set(ever_land)) # 중복자료 제거

In [135]:
ever_land

['coala', 'cat', 'dog']

In [137]:
ever_land[0] # index(자리 번호)로 값 호출하기

'coala'

In [138]:
ever_land.insert(2,"lion") # 해당 자리에 값 끼워넣기
ever_land

['coala', 'cat', 'lion', 'dog']

In [139]:
ever_land.insert(1, "호랑이")
ever_land

['coala', '호랑이', 'cat', 'lion', 'dog']

In [140]:
ever_land.remove("lion") # 값 삭제하기
ever_land

['coala', '호랑이', 'cat', 'dog']

In [141]:
seoul_land = ever_land.pop(1) # 값 빼내기
seoul_land

'호랑이'

In [142]:
num_list = [28719, 0, -1293812, -1, 129, 3.14, -2.71828, -1000, 10000]

In [143]:
num_list.sort() # 리스트 정렬하기

In [144]:
num_list

[-1293812, -1000, -2.71828, -1, 0, 3.14, 129, 10000, 28719]

In [145]:
num_list.reverse() # 리스트 뒤집기
num_list

[28719, 10000, 129, 3.14, 0, -1, -2.71828, -1000, -1293812]

In [146]:
num_list = [28719, 0, -1293812, -1, 129, 3.14, -2.71828, -1000, 10000]

In [147]:
num_list.sort(reverse=True) # 리스트 내림차순 정렬하기

In [148]:
num_list

[28719, 10000, 129, 3.14, 0, -1, -2.71828, -1000, -1293812]

In [151]:
num_list.pop(num_list.index(3.14))

3.14

## 조건문(Conditional Statements)

In [161]:
cash = 2000 # if 문을 이용하여 변수의 참 거짓 유무를 판단하여 각각 다른 문장을 수행할 수 있습니다.
if cash > 50000:
    print("go to buffet")
elif cash > 10000:
    print("go to restaurant")
elif cash > 3000:
    print("go to gimcheon")
else:
    print("go to cvs")

go to cvs

In [165]:
# and or 로 여러 조건에 대해 한번에 판단할 수 있습니다.
lunch_time = 0.3
cash = 10000
if lunch_time <= 0.5 or cash < 5000:
    print("go to cvs")
else:
    print("go to buffet")

go to buffet

In [169]:
revenue = "112.7M" # rotten tomatoes 수익의 알파벳에 따라 다른 자릿수 대체하기
revenue[-1]

'M'

In [176]:
revenue = "112.7T"
if revenue[-1] == 'M':
    print(float(revenue[:-1])*1000000)
elif revenue[-1] == 'B':
    print(float(revenue[:-1])*1000000000)
elif revenue[-1] == 'K':
    print(float(revenue[:-1])*1000)
elif revenue[-1] == 'T':
    print(float(revenue[:-1])*1000000000000)

112700000000000.0